<!doctype html>
<html>
  <div class="page-header">
      <h1>Listagem de Serviços</h1>
  </div>

<div class="row">
	<div class="col-lg-10 form-group">
		<input class="form-control" type="text" 
			style="display: inline-block; width: 50%;"
			placeholder="filtre por nome, descrição" />
		<button class="btn btn-default">
			<span class="glyphicon glyphicon-search"></span>
		</button>
	</div>
	<div class="col-lg-2" style="text-align: right;">
		<button ui-sref="ordem-servico.insert" class="btn btn-primary">Criar OS</button>
	</div>
</div>

<div ng-include='"app/views/ordemServico/list.html"'></div>
  <div ng-include='"app/views/ordemServico/insert.html"'></div>
  <div ng-include='"app/views/ordemServico/edit.html"'></div>
</html>